@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em { font-style: italic; }

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a { 
    display: inline-block;
    text-decoration: none; 
}

li {
    display: inline-block;
    list-style-type: none;
}

/*for wrapper*/
.wrapper {
    max-width: 1360px;
    width: 92%; 
    margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.head1 { padding: 15px 0; }
/*logo style start*/
h1 { display: inline-block; }

h1 a img { 
    width: 120px;
    height: 40px;
}
/*logo style end*/

/*nav style start for menu1 */

nav { display: inline-block; }
.lineMenu { display: none; }
.menu1 { display: inline-block; }
.menu1 li { padding: 0 25px; }

.menu1 li a { 
    color: black;
    font-size: 15px;
}

.menu1 li a:hover,
.search-cart a:hover { color: rgb(51,97,182); }

.search-cart {
    width: 100px;
    margin-left: 11%;
    display: inline-block;
}

.search-cart a { 
    padding-left: 30px;
    color: black;
    text-align: center;
}
/*nav style end for menu1 */

/*head 2 styling start*/
.head2 {
    padding: 15px 0;
    background-color: rgb(51,97,182);
}
/*head 2 styling end*/

/*style start for menu2 */
.menu2 li { color: rgb(236, 247, 248); }
.enterprise { font-size: 18px; }
.menu2 li a:hover { text-decoration: underline; }

.menu2 li a { 
    padding-left: 65px;
    color: rgb(236, 247, 248);
    font-size: 14px;
}

.menu2 .fas.fa-angle-down {
    padding-left: 2px;
    font-size: 13px;
}

/*style end for menu2 */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*digital business style start-->*/

.digitalBusiness {
    padding-bottom: 60px;
    background-image: url(../images/image1.png);
    background-size: cover;
}
.home-digiT { 
    margin-top: 12px;
    padding: 5px 3px;
    display: inline-block;
    background-color: rgb(255, 253, 253);
    font-size: 12px;
    color: rgb(51, 50, 50); 
}

.fas.fa-angle-right { font-size: 12px; }
.home-digiT a { color: rgb(51, 50, 50); }
.home-digiT a:hover { color: rgb(34, 94, 204); }

.sales-support {
    background-color: black;
    padding: 6px 10px;
    float: right;
}

.sales-support a { 
    color: rgb(255, 253, 253);
    font-size: 22px;
    padding:0 5px;
}

.sale1,
.support1 {
    font-family: sans-serif;
    font-size: 18px;
}
.sales-support a:hover { text-decoration: underline; }

h2 {
    padding-top: 40px;
    padding-left: 70px;
    color: rgb(255,255,255);
    font-size: 36px;
    font-weight: bold;
}

.digiThought {
    padding: 15px 399px 5px 70px;
    font-weight: 100;
    font-size: 22px;
    line-height: 1.2;
    color: rgb(255,255,255);
}

.saidby {
    padding: 0 70px;
    color: rgb(255,255,255);
    font-size: 14px;
}
.vidbtn {
    width: 148px;
    margin-top: 20px;
    margin-left: 70px;
    display: block;
    border: 3px solid;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.fas.fa-play-circle{
    padding: 10px 7px;
    display: inline-block;
    color: rgb(255, 253, 253);
    font-size: 30px;
}
.fas.fa-play-circle:hover { color: red; }
.watch { 
    padding-top: 18px;
    padding-right: 18px;
    float: right;
    font-size: 15px;
}

.modal { display:none; }
/* digital business style end*/

/*digital transformation style start*/
.digitalTransformation {
    padding: 60px 0;
    background-color: rgb(241,242,246);
}

.digiT-content {
    width: 50%;
    height: 150px;
    display: inline-block;
}

.digiT-img { 
    width: 49%;
    float: right;
}

h3 {
    padding-left: 70px;
    font-size: 34px;
}

.aboutDt {
    padding: 12px 70px;
    font-size: 14px;
    line-height: 1.5;
}

.digiT-content p:nth-child(3) {
    padding: 0 70px;
    font-size: 13.5px;
}

.digiT-content p:nth-child(3) a{ color: rgb(57, 171, 224); }
.digiT-content p:nth-child(3) a:hover{ text-decoration: underline; }

.digiT-img img {
    width: 511.13px;
    height: 150px;
}

/*digital transformation style end*/
/*product transformation style start*/
.productT {
    padding: 60px 0;
    background-color: rgb(255,253,255);
}

.aboutpro {
    padding: 12px 70px 12px 70px;
    font-size: 14px;
    display: block;
}

.aboutpro:after {
    content: "";
    width: 100%;
    height: .5px;
    margin-top: 10px;
    display: block;
    background-color: rgb(180, 179, 179);
}

.transformP { padding: 0 70px; }

.transformP li { 
    display: inline-block;
    padding: 20px 0;
    border-bottom: .5px solid;
    border-color: rgb(180, 179, 179);
 }

.product-icon-image {
    width: 50px;
    float: left;
}

.pro-content { 
    width: 590px;
    padding: 0 12px;
    float: left;
}
.pro-content p {
    width: 70%;
    padding: 10px 0;
    font-size: 14px;
}
.ptitle { font-size: 30px; }

.pro-content a {
    font-size: 14px;
    color: rgb(57, 171, 224);
}

.pro-img { float: left; }

.pro-img img {
    width: 358px;
    height: 100px;
}
/*product transformation style end*/

/*article style start*/
.resources {
    padding: 60px 0;
    background-color: rgb(241, 242, 246);
}

h4 { 
    width: 88%;
    padding-left: 70px;
}

h4:after { 
    content: "";
    width: 100%;
    height: .5px;
    display: block;
    background-color: rgb(180, 179, 179);
}

.fa.fa-address-book {font-size: 14px;}

.blogs { padding: 0 70px; }

.blogs li {
    border-bottom: .5px solid;
    border-color: rgb(180, 179, 179);;
}

.blog-content {
    width: 50%;
    padding: 15px 0;
    float: left;
}

.btitle { 
    font-size: 30px;
    padding-top: 10px;
}

.bauthor,
.date{
    display: block;
    line-height: 2;
    font-size: 15.5px;
}

.blog-content p:nth-child(4) { font-size: 16.2px; }

.learn {
    padding: 12px 0;
    color: rgb(57, 171, 224);
}

.learn:hover { text-decoration: underline; }

.blog-img {
    margin-top: 30px;
    margin-left: 111px;
    float: left;
}

.blog-img img {
    width: 400px;
    height: 100px;
}

.viewBlog {
    text-align: center;
    margin-top: 50px;
}

.viewBlog a {
    padding: 10px 10px;
    background-color: rgb(50,98,183);
    color: rgb(241, 242, 246);
    font-size: 14px;
    border: 1px solid;
}

.viewBlog a:hover {
    background-color: rgb(241, 242, 246);
    color: rgb(50,98,183);
    transition: 0.60s ease-out;
    -webkit-transition: 0.60s ease-out;
    -ms-transition: 0.60s ease-out;
    -moz-transition: 0.60s ease-out;
    -o-transition: 0.60s ease-out;
}
/*article style end*/
/*download style start*/
.download-contact { 
    background: linear-gradient(90deg, rgb(57,115,214) 50%, rgb(21,35,80) 50%);
    padding: 60px 0;
}

.download,
.sales-support2 {
    width: 35%;
    padding: 0 70px;
    display: inline-block;
}

.download a {
    display: block;
    margin-bottom: 20px;
    color: rgb(241,242,246);
    font-size: 20px;
}

.text1,
.text2 {
    padding-left: 6px;
    font-family: sans-serif;
    font-size: 14px;
}

.text2 { font-size: 16px; font-weight: 100;}

.sales-support2 {
    float: right;
    padding-left: 100px;
    padding-top: 30px;
}

.sales-support2 a { 
    margin-bottom: 20px;
    display: block;
    color: rgb(241,242,246);
}

.download a:hover,
.sales-support2 a:hover { text-decoration: underline; }
/*download style end*/
/*social style start*/
.social-icons {
    width: 100%;
    text-align: center;
    background-color: rgb(89,84,90);
}
.social { display: inline-block; }
.social li { padding: 0 5px; }

h5 { 
    width: 80px;
    padding-bottom: 13px;
    display: inline-block;
    font-size: 16px;
    color: rgb(241,242,246);
}

.social li a { 
    font-size: 20px;
    padding:10px 0;
    color: rgb(241,242,246);
}

.social li:nth-child(1) a:hover { color: rgb(29, 164, 248); }
.social li:nth-child(2) a:hover { color: rgb(74, 215, 250); }
.social li:nth-child(3) a:hover { color: rgb(7, 146, 200); }
.social li:nth-child(4) a:hover { color: rgb(231, 16, 16); }

/*social style end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer{
    width: 100%;
    padding: 30px 0;
    background-color: rgb(245,240,246);
}

.fflex {
    margin-top: 20px;
    display: flex;
}

.f1, 
.f2,
.f3, 
.f4, 
.f5,
.f6 { padding-top: 10px; }

.f1 ul li, 
.f2 ul li,
.f3 ul li,
.f4 ul li,
.f5 ul li,
.f6 ul li { 
    width: 190px;
    display: block;
    padding: 8px 0; 
}

.f1 ul li a,
.f2 ul li a,
.f3 ul li a,
.f4 ul li a,
.f5 ul li a,
.f6 ul li a { 
    font-size: 12px;
    color: rgb(89,84,90);
}

.f1 ul li a:hover,
.f2 ul li a:hover,
.f3 ul li a:hover,
.f4 ul li a:hover,
.f5 ul li a:hover,
.f6 ul li a:hover,
footer ul li a:hover { 
    color: rgb(50,98,183);
    text-decoration: underline;
}

.ftitle {
    font-size: 16px;
    font-weight: bold;
}

.language {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    font-family: sans-serif;
}

.fa-globe-europe:before { 
    font-size: 14px;
    padding-right: 3px;
    color: rgb(89,84,90);
}

.fas { 
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 600;
    color: rgb(89,84,90); 
}

footer ul li { padding: 0 8px; }

footer ul li a { 
    font-size: 12px;
    color: rgb(89,84,90);
}
.lastnav { 
    float: right;
    padding-top: 20px;
 }
footer ul li span { font-size: 12px; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
    h1 a img { width: 100px; }

    .menu1 li a,
    .menu2 li a { font-size: 12px; }

    .search-cart { margin-left: 0; }
    .enterprise { font-size: 16px; }
    .menu2 li a { padding-left: 56px; }
    .sales-support a { font-size: 12px; }
    .sale1, .support1 { font-size: 11px; }
    h2 { font-size: 28px; }
    .digiThought { font-size: 15px; }
    .saidby { font-size: 13px; }
    .vidbtn { width: 130px; }
    .fas.fa-play-circle { font-size: 24px }

    .watch { 
        padding-top: 16px;
        font-size: 12px;
    }

    h3 { font-size: 28px; }
    .aboutDt { font-size: 13px; }
    .digiT-content p:nth-child(3) { font-size: 12px; }
    .digiT-img img { width: 395px; }
    .pro-content { width: 450px;}
    .ptitle { font-size: 25px;}
    .pro-content p { font-size: 10px; }
    .pro-content a { font-size: 11px; }
    .pro-img img { width: 278px; }
    .btitle { font-size: 26px; }

    .bauthor, 
    .date { 
        line-height: 2;
        font-size: 13.5px;
    }

    .blog-content p:nth-child(4) { font-size: 13.2px; }
    .learn { font-size: 12.8px;}
    .blog-img img { width: 290px; }
    .sales-support2 { padding-left: 0;}
    .f1 ul li, 
    .f2 ul li, 
    .f3 ul li, 
    .f4 ul li, 
    .f5 ul li, 
    .f6 ul li { width: 158px; }

    .f1 ul li a, 
    .f2 ul li a, 
    .f3 ul li a, 
    .f4 ul li a, 
    .f5 ul li a, 
    .f6 ul li a { font-size: 10px; }

    .ftitle { font-size: 14px; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
    .search-cart { width: 91px; }
    .search-cart a { padding-left: 26px; }

    .digiT-img img {
        width: 322px;
        margin-left: 50px;
    }

    .pro-img img { width: 251px; }
    .blog-img img { width: 276px; }
}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
    .menu1 li { padding: 0 10px; }
    .ddown { font-size: 12px; }
    .menu2 li a { padding-left: 32px; }
    .enterprise { font-size: 18px; }
    .home-digiT a { font-size: 10px; }
    h2 { font-size: 20px; }

    .digiThought { 
        padding: 15px 219px 5px 70px;
        font-size: 12px;
    }

    .saidby { font-size: 11px; }
    .vidbtn { width: 112px; }
    .fas.fa-play-circle { padding: 5px; }

    .watch {
        padding-top: 11px;
        font-size: 10px;
    }

    h3 { font-size: 21px; }

    .aboutDt {
        padding-right: 0;
        font-size: 9px;
    }

    .digiT-content p:nth-child(3) { font-size: 8px; }
    .digiT-img img { width: 228px; }
    .fas.fa-angle-right { font-size: 8px; }
    h3 { font-size: 18px; }
    .aboutpro { font-size: 11px; }
    .product-icon-image { width: 40px; }
    .pro-content { width: 318px; }
    .ptitle { font-size: 16px; }

    .pro-content p {
        width: 80%;
        font-size: 9px;
    }

    .pro-content a { font-size: 9px; }
    .pro-img img { width: 184px; }

    .btitle {
        font-size: 18px;
    }

    .bauthor, 
    .date { font-size: 9.9px; }

    .blog-content p:nth-child(4) {
        font-size: 10px;
    }

    .learn { font-size: 10.8px; }
    .blog-img img { width: 172px; }
    .download a { font-size: 14px; }
    .text1, .text2 { font-size: 11px; }
    .sales-support2 { padding-top: 15px; }
    h5 { font-size: 12px; }
    
    .fflex ul { width: 120px; }
    .ftitle { font-size: 12px; }
    .f1 ul li a,
    .f2 ul li a, 
    .f3 ul li a, 
    .f4 ul li a, 
    .f5 ul li a, 
    .f6 ul li a { font-size: 8px; }
    .lastnav { padding: 20px; }
    .fas.fa-globe-europe { font-size: 9px; }
    footer ul li { padding: 0 3px;
    }
    footer ul li a { font-size: 9px; }
}